{% extends "input.html.twig" %}
{#
/**
 * @file
 * Theme suggestion for "button" input form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 * - label: button label.
 * - prefix: Markup to display before the input element.
 * - suffix: Markup to display after the input element.
 * - type: The type of input.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\InputButton
 * @see \Drupal\bootstrap\Plugin\Preprocess\Input
 * @see template_preprocess_input()
 */
#}
  {% block input %}{% apply spaceless %}
    {%
      set classes = [
      'w-full max-w-md group !text-white  text-basis md:text-lg transition duration-200',
      type == 'submit' ? 'js-form-submit',
      icon and icon_position and not icon_only ? 'icon-' ~ icon_position,
      attributes.value == 'Search' ? ' h-10 py-2 pl-2 pr-5 !border-0 relative z-10' : 'mb-[15px] rounded-full px-5 py-[11px] !bg-primary-100 hover:!bg-[#271525] !border-primary-100 hover:!border-[#271525]' 
    ]
    %}
    {% if icon and icon_only %}
      <button{{ attributes.addClass(classes, 'icon-only') }}>
        {% if attributes.value == 'Search' %}
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.8333 18.8333L14.4618 14.4618M16.75 8.9375C16.75 4.62278 13.2522 1.125 8.9375 1.125C4.62278 1.125 1.125 4.62278 1.125 8.9375C1.125 13.2522 4.62278 16.75 8.9375 16.75C13.2522 16.75 16.75 13.2522 16.75 8.9375Z" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        {% else %}
          <span class="sr-only">{{ label }}</span>
          {{ icon }}
        {% endif %}
      </button>
    {% else %}
      {% if icon_position == 'after' %}
        <button{{ attributes.addClass(classes) }}>{{ label }}{{ icon }}</button>{{ children }}
      {% else %}
        <button{{ attributes.addClass(classes) }}>
          <span>
            {{ label }}
          </span>
          <svg class="inline-block mb-1 ml-5 group-hover:translate-x-2 transition duration-200" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L1 9" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>{{ children }}
      {% endif %}
    {% endif %}
    {{ children }}
  {% endapply %}{% endblock %}

