{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - input_group: Flag to display as an input group.
 * - options: The option element children.
 * - prefix: Markup to display before the input element.
 * - suffix: Markup to display after the input element.
 *
 * @ingroup templates
 *
 * @see template_preprocess_select()
 */
#}
{% apply spaceless %}
  {% if input_group %}
    <div class="input-group">
  {% endif %}

  {# Browsers do not recognize pseudo :after selectors, we must create a wrapper
   # around the select element to style it properly.
   # @see http://stackoverflow.com/q/21103542
   #}
  {% if not attributes.offsetExists('multiple') %}
    <div class="select-wrapper relative !w-full after:text-primary-100 after:!hidden">
  {% endif %}
    {% set classes = [
      'form-control',
      'mb-[15px] cursor-pointer peer w-full !h-auto block relative px-5 py-4 !rounded-full border !border-gray-40 focus:outline-0 hover:!border-primary-100 focus-within:!border-primary-100 focus-visible:!border-primary-100 focus:!border-primary-100 text-primary-100 font-normal text-[15px] md:text-[13px] appearance-none transition duration-200'

    ] %}
      {{ dump() }}
      {% for option in options %}
        {% if option.type == 'optgroup' %}
        <div class="panel mb-0 group relative w-full border-0 border-b-2 border-solid border-neutral-90 hover:border-brown-100 transition duration-200 {% if option.label != 'Type' %} !hidden {% endif %}" data-option-label="{{ option.label }}">
            <div class="w-full relative z-30 [&:not(.collapsed)]:z-40 flex gap-2.5 items-center cursor-pointer bg-white collapsed [&:not(.collapsed)_.arrow]:rotate-180" data-target="#option{{ loop.index }}" data-toggle="collapse" data-parent=".js-form-item-field-options" aria-expanded="false">
                <div class="ml-2.5 w-[30px] h-[30px]">

                {% if option.label == 'Size' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M11.25 5H5.00004L5 11.25M25 11.25V5.00004L18.75 5M18.75 25.0001H25L25 18.7501M5 18.7501L5 25L11.25 25.0001" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11 19L19 11" stroke="#382335" stroke-linecap="round"/>
                    <path d="M11 11L19 19" stroke="#382335" stroke-linecap="round"/>
                </svg>
                {% elseif option.label == 'Frame' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M11.4732 21.25C10.3637 21.25 9.46427 20.3173 9.46427 19.1667M6.25 19.1667C6.25 16.3181 8.32459 12.5 11.875 10C15.4254 12.5 17.5 16.3181 17.5 19.1667C17.5 22.8486 14.6218 25 11.875 25C9.12816 25 6.25 22.8486 6.25 19.1667Z" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.4018 11.5625C19.7854 11.5625 19.2857 11.0184 19.2857 10.3472M17.5 10.3472C17.5 8.68556 18.6526 6.45833 20.625 5C22.5974 6.45833 23.75 8.68556 23.75 10.3472C23.75 12.495 22.151 13.75 20.625 13.75C19.099 13.75 17.5 12.495 17.5 10.3472Z" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M11.25 8.75C11.25 12.2018 14.0482 15 17.5 15C14.0482 15 11.25 17.7982 11.25 21.25C11.25 17.7982 8.45177 15 5 15C8.45177 15 11.25 12.2018 11.25 8.75Z" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.625 5C20.625 6.72589 22.0241 8.125 23.75 8.125C22.0241 8.125 20.625 9.52411 20.625 11.25C20.625 9.52411 19.2259 8.125 17.5 8.125C19.2259 8.125 20.625 6.72589 20.625 5Z" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.75 18.75C18.75 20.1307 19.8693 21.25 21.25 21.25C19.8693 21.25 18.75 22.3693 18.75 23.75C18.75 22.3693 17.6307 21.25 16.25 21.25C17.6307 21.25 18.75 20.1307 18.75 18.75Z" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {% endif %}

                </div>
                <div class="flex gap-2.5 gap-y-px flex-col {% if option.label != 'Typ produktu' %} md:flex-row md:py-3 {% endif %} py-[15px]">
                    <span class="text-sm font-medium font-body text-primary-100 w-full md:w-auto">{{ option.label }}</span>
                    <span class="text-[13px] h-5 font-light text-primary-60 w-full md:w-auto block" data-group-selected="option{{ loop.index }}">{{ 'Select'|t }}</span>
                </div>
                <div class="absolute right-5 {% if option.label != 'Typ produktu' %} md:top-2.5 {% endif %} top-6">
                    <svg class="arrow rotate transform transition duration-300" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M14 8L10 12L6 8" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div id="option{{ loop.index }}" class="absolute top-[calc(100%_-_1.6px)] z-30 [&.collapsing]:z-[35] [&.collapse.in]:z-[35] bg-white w-full border-0 border-b-2 border-solid border-neutral-90 group-hover:border-brown-100 [&.collapse.in_.shadow-box]:shadow-2xl duration-300 collapse" aria-expanded="false">
                {% if option.label == 'Size' %}
                <div class="flex items-center mt-2.5 justify-between gap-2.5 flex-wrap text-[10px] font-body font-medium text-primary-100 pl-[47px] pr-[30px]">
                    <span class="shrink-0" >{{ 'Heigh x Width in cm'|t }}</span>
                    <a href='' class="shrink-0 flex items-center gap-[5px] text-primary-100 hover:!text-brown-100 transition duration-200">
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M9.60526 13.5526L8.02632 11.9737M9.60526 13.5526L11.5789 11.5789M9.60526 13.5526L7.63158 15.5263M11.5789 11.5789L9.60526 9.60526M11.5789 11.5789L13.5526 9.60526M13.5526 9.60526L11.9737 8.02632M13.5526 9.60526L15.5263 7.63158M15.5263 7.63158L13.5526 5.65789M15.5263 7.63158L17.5 5.65789L14.3421 2.5L2.5 14.3421L5.65789 17.5L7.63158 15.5263M7.63158 15.5263L5.65789 13.5526" stroke="#D7D3D7" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>{{ 'View size guide'|t }}</span>
                    </a>
                </div>
                {% endif %}
                <ul class="relative z-20 bg-white !pl-[47px] {% if option.label != 'Size' %} !pt-2.5 {% endif %}{% if option.label == 'Typ produktu' %} flex flex-wrap gap-5 !pb-5 {% endif %}">
                {% for sub_option in option.options %}
                    <li class="!m-0 {% if option.label != 'Typ produktu' %} border-0 border-b last:border-b-0 border-b-neutral-90 w-full {% endif %}">
                        <input class="peer" type="radio" id="{{ sub_option.value }}" name="{{ option.label }}" value="{{ sub_option.value }}" {{ sub_option.selected ? ' checked' }} data-input-group="option{{ loop.parent.loop.index }}"></input>
                        {% if option.label == 'Typ produktu' %}
                        <label class="!p-0 !m-0 !font-light after:!hidden before:!hidden !flex flex-col cursor-pointer transition duration-200 [&_.option-image]:hover:border-brown-40 [&_.option-image]:peer-checked:!border-brown-100" for="{{ sub_option.value }}">
                            <div class="option-image w-20 h-20 bg-neutral-90 border border-neutral-90 transition duration-200"></div>
                            <span class="!normal-case w-20 text-sm font-medium text-primary-100 text-center pt-2 transition duration-200">
                            {{ sub_option.label }}
                            </span>
                        </label>
                        {% else %}
                        <label class="!normal-case py-2 !pl-0 !my-0 text-primary-100 hover:text-brown-100 peer-checked:text-brown-100 !text-[13px] !font-light after:!hidden before:!hidden w-full transition duration-200 cursor-pointer" for="{{ sub_option.value }}">{{ sub_option.label }}</label>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <div class="shadow-box z-20 absolute bottom-0 inset-x-0 -top-11 shadow-primary-100/25 pointer-events-none transition-all duration-300">
                </div>
            </div>
        </div>
        {% endif %}
      {% endfor %}
      <div class="!hidden" data-options-checkboxes>
        {% for option in options %}
            {% for sub_option in option.options %}
            <input type="checkbox" name="field_options[]" value="{{ sub_option.value }}"></input>
            {% endfor %}
        {% endfor %}
      </div>

  {% if not attributes.offsetExists('multiple') %}
    </div>
  {% endif %}

  {% if input_group %}
    </div>
  {% endif %}
{% endapply %}
