{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - input_group: Flag to display as an input group.
 * - options: The option element children.
 * - prefix: Markup to display before the input element.
 * - suffix: Markup to display after the input element.
 *
 * @ingroup templates
 *
 * @see template_preprocess_select()
 */
#}
{% apply spaceless %}
  {% if input_group %}
    <div class="input-group">
  {% endif %}

  {# Browsers do not recognize pseudo :after selectors, we must create a wrapper
   # around the select element to style it properly.
   # @see http://stackoverflow.com/q/21103542
   #}
  {% if not attributes.offsetExists('multiple') %}
    <div class="select-wrapper relative !w-full after:text-primary-100 after:!hidden">
  {% endif %}
    {% set classes = [
      'form-control',
      'mb-[15px] cursor-pointer peer w-full !h-auto block relative px-5 py-4 !rounded-full border !border-gray-40 focus:outline-0 hover:!border-primary-100 focus-within:!border-primary-100 focus-visible:!border-primary-100 focus:!border-primary-100 text-primary-100 font-normal text-[15px] md:text-[13px] appearance-none transition duration-200'

    ] %}

      {% for option in options %}
        {% if option.type == 'optgroup' %}
        <div class="panel mb-0 group relative w-full border-0 border-b-2 border-solid border-neutral-90 hover:border-brown-100 transition duration-200">
            <div class="w-full relative z-30 [&:not(.collapsed)]:z-40 flex gap-2.5 items-center cursor-pointer py-4 bg-white collapsed [&:not(.collapsed)_.arrow]:rotate-180" data-target="#option{{ loop.index }}" data-toggle="collapse" data-parent=".js-form-item-field-options" aria-expanded="false">
                <div class="ml-2.5 w-[30px] h-[30px]">
                </div>
                <span class="text-sm font-medium font-body text-primary-100 w-full md:w-auto">{{ option.label }}</span>
                <div class="absolute right-5 top-2.5">
                    <svg class="arrow rotate transform transition duration-300" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M14 8L10 12L6 8" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div id="option{{ loop.index }}" class="absolute top-[calc(100%_-_1.6px)] z-30 [&.collapsing]:z-[35] [&.collapse.in]:z-[35] bg-white w-full border-0 border-b-2 border-solid border-neutral-90 group-hover:border-brown-100 [&.collapse.in_.shadow-box]:shadow-2xl duration-300 collapse" aria-expanded="false">
                <ul class="relative z-20 bg-white">
                {% for sub_option in option.options %}
                    <li class="border-0 border-b border-b-neutral-90">
                        <input type="radio" id="{{ sub_option.value }}" name="{{ option.label }}" value="{{ sub_option.value }}" {{ sub_option.selected ? ' checked' }}></input>
                        <label class="!normal-case py-2.5 text-primary-100 !text-[13px] !font-light" for="{{ sub_option.value }}">{{ sub_option.label }}</label>
                    </li>
                {% endfor %}
                </ul>
                <div class="shadow-box z-20 absolute bottom-0 inset-x-0 -top-11 shadow-primary-100/25 pointer-events-none transition-all duration-300">
                </div>
            </div>
        </div>
        {% endif %}
      {% endfor %}

  {% if not attributes.offsetExists('multiple') %}
    </div>
  {% endif %}

  {% if input_group %}
    </div>
  {% endif %}
{% endapply %}
