{#
/**
 * @file
 * Default theme implementation for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - responsive: Whether or not to use the .table-responsive wrapper.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 * - bordered: Flag indicating whether or not the table should be bordered.
 * - condensed: Flag indicating whether or not the table should be condensed.
 * - hover: Flag indicating whether or not table rows should be hoverable.
 * - striped: Flag indicating whether or not table rows should be striped.
 * - responsive: Flag indicating whether or not the table should be wrapped to
 *   be responsive (using the Bootstrap Framework .table-responsive wrapper).
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view_table()
 */
#}
  <div class="flex flex-col w-full order-1">
{%
  set classes = [
    'table',
    bordered ? 'table-bordered',
    condensed ? 'table-condensed',
    hover ? 'table-hover',
    striped ? 'table-striped',
    sticky ? 'sticky-enabled',
  ]
%}
  {% if header %}
    <div class="w-full flex border-b-2 border-[#F5F4F5] pb-2.5 mb-5">
      {% for key, column in header %}
        {% if column.default_classes %}
          {%
          set column_classes = [
          fields[key] == 'field-images' ? 'basis-[15%]' : '',
          fields[key] == 'purchased-entity' ? 'basis-[25%]' : '',
          fields[key] == 'unit-price__number' ? 'basis-[15%]' : '',
          fields[key] == 'edit-quantity' ? 'basis-[15%]' : '',
          fields[key] == 'total-price__number' ? 'basis-[15%]' : '',
          fields[key] == 'remove-button' ? 'basis-[5%]' : '',
          'views-field-' ~ fields[key],
          'hidden md:!block text-primary-100 text-sm font-medium'
          ]
          %}
        {% endif %}
        <div{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
            {{- column.content }}{{ column.sort_indicator }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% for row in rows %}
    <div class="relative w-full flex flex-wrap md:flex-nowrap border-b border-[#F5F4F5] pb-5 mb-5 last:mb-0" {{ row.attributes }}>
      {% for key, column in row.columns %}
        {%
          set column_classes = [
          'flex justify-between items-start',
          fields[key] == 'field-images' ? 'mb-5 md:mb-0 basis-[35%] md:basis-[15%] pr-5 md:pr-10' : '',
          fields[key] == 'purchased-entity' ? 'mb-5 md:mb-0 basis-[65%] md:basis-[25%] flex-col justify-start' : '',
          fields[key] == 'unit-price__number' ? 'mb-5 md:mb-0 basis-full md:basis-[15%] text-2xl text-primary-100 font-medium' : '',
          fields[key] == 'total-price__number' ? 'mb-5 md:mb-0 basis-full md:basis-[15%] text-3xl text-primary-100 font-medium':'',
          fields[key] == 'edit-quantity' ? 'mb-5 md:mb-0 basis-full md:basis-[15%]' : '',
          fields[key] == 'remove-button' ? 'absolute top-0 right-0 md:static basis-[5%]' : '',
          'views-field-' ~ fields[key],
          ]
          %}
      <div{{ column.attributes.addClass(column_classes) }}>
      {% if fields[key] == 'field-zdjecie' %}
      <div class="flex aspect-square items-center justify-center bg-[#F5F4F5]">
      {% endif %}
          {% for content in column.content %}
            {% if fields[key] != 'field-zdjecie' and fields[key] != 'purchased-entity' and fields[key] != 'remove-button' %}
              <span class="md:hidden text-base"> {{header[key].content}} </span>
            {% endif %}
            {{- content.separator }}{{ content.field_output -}}
          {% endfor %}
      {% if fields[key] == 'field-zdjecie' %}
      </div>
      {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>