{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{% for field in fields -%}
    {%
    set wrapper_classes = [
        field.handler.field == 'field_image' ? 'absolute inset-0 z-0' : 'relative z-10 w-fit [&_a]:w-full max-w-[360px]',
    ]
    %}
    {%
    set field_classes = [
        field.handler.field == 'field_image' ? 'img-fit w-full h-full after:absolute after:bg-gradient-to-t after:content-[""] after:from-black/50 after:inset-0 after:to-transparent after:pointer-events-none',
        field.handler.field == 'created' ? 'text-sm font-semibold [&_a]:before:content-[""] [&_a]:before:h-px [&_a]:before:bg-white [&_a]:before:inline-block [&_a]:before:mb-[3px] [&_a]:before:w-2.5 [&_a]:before:mr-[5px] [&_a]:before:pointer-events-none',
        field.handler.field == 'title' ? ' group-hover:underline decoration-white inline-block text-xl lg:text-2xl font-normal [&_a]:block ',
        field.handler.field == 'view_node' ? '!hidden',
    ]
    %}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes.addClass(wrapper_classes) }}>
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes.addClass(field_classes) }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %}
  <div class="shrink-0 relative z-10 pointer-events-none flex items-center justify-center w-[50px] h-[50px] rounded-full group-hover:bg-white border border-white bg-transparent transition duration-200 mt-4 md:mt-5" >
    <svg class="group-hover:stroke-brown-100 stroke-white transition duration-200" width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.75 4.5H8.5625M8.5625 4.5L4.8125 0.75M8.5625 4.5L4.8125 8.25" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>
