{#
/**
 * @file
 * Template for the wishlist user form.
 *
 * Available variables:
 * - form: The form.
 * -- header: {{ form.header }}
 * @ingroup themeable
 */
#}
<div class="wishlist-user-form clearfix">
	<div class="wishlist-items">
		{% for key, item in form.items if (key|first) != '#' %}
			<div class="wishlist-item">
				<div class="wishlist-item__entity">
					{{ item.entity }}
				</div>
				<div class="wishlist-item__details">
					{{ item.details }}
					{{ item.details_edit }}
				</div>
				<div class="wishlist-item__actions">
					{{ item.actions|without('add_to_cart') }}
				</div>
			</div>
		{% endfor %}
	</div>
	{{ form|without('header', 'items') }}
</div>
