{#
/**
 * @file
 * Default theme implementation for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - description_display: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element (default).
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'group w-full !my-0 border border-0 border-b-2 border-solid border-neutral-90 hover:border-brown-100 transition-all duration-300',
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {%
    set legend_span_classes = [
      'text-sm font-normal font-body text-primary-100',
      'fieldset-legend',
      required ? 'js-form-required',
      required ? 'form-required',
    ]
  %}
  {#  Always wrap fieldset legends in a <span> for CSS positioning. #}
  <div class="flex gap-2.5 cursor-pointer collapsed py-4" data-target="#{{ element['#id'] }}" data-toggle="collapse" aria-expanded="false">
    <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
    <span class="text-[13px] font-light text-primary-60">
        {{element['#options'][element['#default_value']]}}
    </span>
  </div>
  <div class="fieldset-wrapper w-full collapse" id="{{ element['#id'] }}" aria-expanded="false">
    {% if errors %}
      <div>
        {{ errors }}
      </div>
    {% endif %}
    {{ children }}

  </div>
</div>