{#
/**
 * @file
 * Default theme implementation for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - description_display: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element (default).
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'group relative w-full !my-0 ',
    'panel',
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
    element['#options']|length == 1 ? 'opacity-50 pointer-events-none':'' 
  ]
%}
<div{{ attributes.addClass(classes) }}>
    {%
        set legend_span_classes = [
        'text-sm font-medium font-body text-primary-100 after:!hidden w-full md:w-auto block',
        'fieldset-legend',
        required ? 'js-form-required',
        required ? 'form-required',
        ]
    %}
    <div class="relative bg-white flex gap-2.5 items-center cursor-pointer z-20 collapsed [&:not(.collapsed)_svg]:rotate-180 [&:not(.collapsed)]:z-40  [&:not(.collapsed)_~_div]:!border-brown-100" data-target="#{{ element['#id'] }}" data-toggle="collapse" data-parent=".attribute-widgets" aria-expanded="false">
        <div class="ml-2.5 w-[30px]"></div>
        <div class="flex gap-2.5 gap-y-px flex-col {% if element['#title'] != 'Product option' %} md:flex-row md:py-3 {% endif %} py-[15px]">
            <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
            <span class="text-[13px] font-light text-primary-60 w-full md:w-auto block">
                {{element['#options'][element['#default_value']]}}
            </span>
        </div>
        <div class="absolute right-5 {% if element['#title'] != 'Product option' %} md:top-2.5 {% endif %} top-6">
            <svg class="rotate transform transition duration-300" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M14 8L10 12L6 8" stroke="#382335" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <div class="fieldset-wrapper absolute bg-white z-30 inset-x-0 top-0 mt-[68.5px] {% if element['#title'] != 'Product option' %} md:mt-[44px] {% endif %} border-0 border-b-2 border-solid border-neutral-90 group-hover:border-brown-100 shadow-primary-100/25 transition-all duration-300 [&.collapsing]:z-[35] [&.collapse.in]:z-[35] [&:not(.in)]:pointer-events-none [&:not(.in)]:h-[1.6px] !block overflow-hidden collapse [&.collapse.in]:overflow-visible [&.collapse.in_.shadow-box]:shadow-2xl" id="{{ element['#id'] }}" aria-expanded="false">
        <div class="bg-white [&_label]:!pl-[47px] [&_label]:pr-2.5 [&_label]:py-2 [&_.form-type-radio]:!m-0  [&_label]:!text-[13px] [&_label]:!font-light [&_label::before]:!hidden [&_label::after]:!hidden [&_label]:!border-b [&_label]:!border-b-neutral-90 [&_label]:w-full">
            {% if errors %}
            <div>
                {{ errors }}
            </div>
            {% endif %}
            {{ children }}
        </div>
        <div class="pointer-events-none absolute bottom-0 inset-x-0 top-[-42px] shadow-box z-20 shadow-primary-100/25 transition-all duration-300"></div>
    </div>
</div>