{#
/**
 * @file
 * Default theme implementation for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - description_display: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element (default).
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'group relative w-full !my-0 ',
    'panel',
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    {%
        set legend_span_classes = [
        'text-sm font-normal font-body text-primary-100 after:!hidden',
        'fieldset-legend',
        required ? 'js-form-required',
        required ? 'form-required',
        ]
    %}
    <div class="relative bg-white flex gap-2.5 cursor-pointer py-3 z-20 collapsed [&:not(.collapsed)]:z-40  [&:not(.collapsed)_~_div]:!border-brown-100 [&:not(.collapsed)_~_div_.shadow-box]:shadow-2xl" data-target="#{{ element['#id'] }}" data-toggle="collapse" data-parent="#edit-purchased-entity-0-attributes" aria-expanded="false">
        <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
        <span class="text-[13px] font-light text-primary-60">
            {{element['#options'][element['#default_value']]}}
        </span>
    </div>
    <div class="fieldset-wrapper absolute bg-white z-30 inset-x-0 top-0 mt-[42px] border-0 border-b-2 border-solid border-neutral-90 group-hover:border-brown-100 shadow-primary-100/25 transition-all duration-300 [&.collapsing]:z-[35] [&.collapse.in]:z-[35] [&:not(.in)]:pointer-events-none collapse" id="{{ element['#id'] }}" aria-expanded="false">
        <div class="bg-white">
            {% if errors %}
            <div>
                {{ errors }}
            </div>
            {% endif %}
            {{ children }}
        </div>
        <div class="absolute bottom-0 inset-x-0 top-[-42px] shadow-box z-20 shadow-primary-100/25 transition-all duration-300"></div>
    </div>
</div>