{#
/**
 * @file
 * Default commerce price calculated template.
 *
 * Available variables:
 * - calculated_price: The calculated price.
 * - purchasable_entity: The purchasable entity.
 *
 * @ingroup themeable
 */
#}
<div data-price-displayed>
{{- calculated_price -}}
</div>
{{dump()}}
{{dump(result.calculatedPrice)}}
{{dump(result.calculatedPrice.number)}}

<div class="!hidden" data-price-base="{{ result['#calculatedPrice']['#number'] }}"></div>
