{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
    'block group relative mr-1 md:mr-2.5 !px-4 !py-[7px] md:py-3 rounded-full bg-gray-10 transition duration-200 hover:bg-primary-100 cursor-pointer aria-expanded:!bg-primary-100'
  ]
%}

{% set content_id =  derivative_plugin_id  ~ '-content' %}

{% set content_classes = [
  'absolute top-[calc(100%_+_3px)] left-0 min-w-full w-48 md:w-56 z-10 bg-gray-10 rounded-lg',
  'block-facet__content',
  'collapse'
  ] 
%}

<section{{ attributes.addClass(classes).setAttribute('data-target', '#' ~ content_id).setAttribute('data-toggle', 'collapse').setAttribute('aria-expanded','false') }}>
  {{ title_prefix }}
  {% if label %}
    <h3{{ title_attributes.addClass('block-title before:!hidden group font-body text-sm font-medium text-primary-100 group-hover:text-white transition duration-200 group-aria-expanded:!bg-primary-100') }}>{{ label }}
      <span class="group-aria-expanded:rotate-180 transform inline-block mb-0.5 ml-2 transition duration-300  ">
        <svg class="stroke-primary-100 group-hover:stroke-white group-aria-expanded:!stroke-white transition duration-200" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 1L5 5L1 1"  stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </h3>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div {{ content_attributes.addClass(content_classes).setAttribute('id', content_id).setAttribute('aria-expanded','true') }}>
      <div class="p-2">
        {{ content }}
      </div>
    </div>
  {% endblock %}
</section>
