{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
    set classes = [
      ' flex flex-col',
      'block',
      'block-' ~ configuration.provider|clean_class,
      'block-' ~ plugin_id|clean_class,
      'clearfix',
    ]
  %}
  <div{{ attributes.addClass(classes) }}>
    <h3 class="mb-3 md:mb-8 text-primary-100 text-xl md:text-2xl">Customer service</h3>
    <ul class="mb-7 md:mb-12">
        <li class="flex items-center mb-5 gap-3">
            <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20" fill="none">
                <path d="M1.11612 1.61612C1.34232 1.38991 1.65482 1.25 2 1.25H22C22.3452 1.25 22.6577 1.38991 22.8839 1.61612M1.11612 1.61612C0.889911 1.84232 0.75 2.15482 0.75 2.5V17.5C0.75 18.1904 1.30964 18.75 2 18.75H22C22.6904 18.75 23.25 18.1904 23.25 17.5V2.5C23.25 2.15482 23.1101 1.84232 22.8839 1.61612M1.11612 1.61612L10.2322 10.7322C11.2085 11.7085 12.7915 11.7085 13.7678 10.7322L22.8839 1.61612" stroke="#CB925F" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-primary-100 text-xs md:text-sm">office@artdecor.com</p>
        </li>
        <li class="flex items-center mb-5 gap-3">
            <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M23.2492 20.983V17.5958C23.263 17.0421 23.0724 16.5026 22.7136 16.0801C21.7019 14.8883 18.2318 14.126 16.8564 14.4187C15.7841 14.647 15.034 15.7235 14.3006 16.4555C11.4683 14.8482 9.12322 12.5077 7.51274 9.68105C8.24613 8.94912 9.32484 8.20045 9.55352 7.13035C9.84641 5.75972 9.08516 2.31187 7.90164 1.29605C7.48536 0.938753 6.95309 0.744717 6.40406 0.750109H3.01014C1.71697 0.751325 0.641094 1.91118 0.758831 3.21148C0.75 14.4187 9.5 23.25 20.783 23.2412C22.0903 23.3591 23.2545 22.2779 23.2492 20.983Z" stroke="#CB925F" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-primary-100 text-xs md:text-sm">12 341 42 89 </p>
        </li>
        <li class="flex items-center mb-5 gap-3">
            <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12 7V12L14.5 14.5M23.25 12C23.25 18.2132 18.2132 23.25 12 23.25C5.7868 23.25 0.75 18.2132 0.75 12C0.75 5.7868 5.7868 0.75 12 0.75C18.2132 0.75 23.25 5.7868 23.25 12Z" stroke="#CB925F" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-primary-100 text-xs md:text-sm">Mon. - Fri. 8:00am - 6:00pm</p>    
        </li>
    </ul>
    
    <h3 class="mb-3 md:mb-8 text-primary-100 text-xl md:text-2xl">Address details</h3>
    <div class="flex mb-7 md:mb-12 gap-3">
        <div class="flex-shrink-0">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.75 12.2499L1 20.9999M15.9999 1L21 6L14.7499 17.25L4.74996 7.25L15.9999 1Z" stroke="#CB925F" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div>
        <p class="text-primary-100 text-xs md:text-sm">
            <strong>Art Decor</strong>
        </p>    
        <p class="text-primary-100 text-xs md:text-sm">
            Al Manara Road Al Quoz 1 <br>
            Dubai, UAE
        </p>    
        </div>
    </div>

    {# {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}
      {{ content }}
    {% endblock %} #}
  </div>

