{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or
 *   'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - $head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
  ]
%}
<!DOCTYPE html>
<html {{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: {
              100: '#382335', 
              80: '#604F5D', 
              60: '#887B86', 
              40: '#AFA7AE', 
              20: '#D7D3D7',
            },
            brown: {
              100: '#CB925F', 
              80: '#D5A87F', 
              60: '#E0BE9F', 
              40: '#EAD3BF', 
              20: '#F5E9DF', 
            },
            'brown-light': {
              100: '#EDC583', 
              80: '#F1D19C', 
              60: '#F4DCB5', 
              40: '#F8E8CD', 
              20: '#FBF3E6', 
            },
            mint: {
              100: '#AACFCA', 
              80: '#BBD9D5', 
              60: '#CCE2DF', 
              40: '#DDECEA', 
              20: '#EEF5F4', 
            },
            gray: {
              100: '#8D99AE', 
              80: '#A4ADBE', 
              60: '#BBC2CE', 
              40: '#D1D6DF', 
              20: '#E8EBEF', 
              10: '#F9F8F9', 
            },
            black: {
              80: '#191919', 
              60: '#D2D2D2', 
              40: '#EDEDED', 
            },
            green: {
              100: '#0A5C30', 
              80: '#10934D', 
              60: '#16C568', 
              40: '#93EBBC', 
              20: '#D2F9E4', 
            },
            red: {
              100: '#6E0C0C', 
              80: '#A51212', 
              60: '#E51A1A', 
              40: '#F28C8C', 
              20: '#FAD1D1', 
            },
            yellow: {
              100: '#7A4800', 
              80: '#B26800', 
              60: '#FFBF00', 
              40: '#FFDF80', 
              20: '#FFF2CC', 
            },
            blue: {
              100: '#103970', 
              80: '#16509C', 
              60: '#2073DF', 
              40: '#89B8F5', 
              20: '#D2E3F9', 
            },
          }
        }
      }
    }
  </script>
    <style type="text/tailwindcss">
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        html{
          font-size: 16px;
        }

        .collapse{
          @apply !visible;
        }

        .gutenberg-text ul{
          @apply list-disc ml-5;
        }
        .gutenberg-text ul{
          @apply list-disc ml-5;
        }

        .commerce-product h2.block-title{
          @apply mb-6 md:mb-8 text-xl md:text-2xl font-semibold;
        }

        .layout-content--list .field--label-inline{
          @apply flex w-full py-3.5;
        }
        .layout-content--list .layout-content-region > * {
          @apply border-0 border-b first:border-b-0 last:border-b-0 last:!mb-[60px] md:last:!mb-20 border-gray-300;
        }
        .layout-content--list .field--label-inline .field--label{
          @apply md:basis-44 md:mr-8 shrink-0 grow-0 !normal-case;
        }
        .layout-content--list .field.field--name-sku.field--type-string.field--label-inline{
          @apply m-0;
        }

        .commerce-product--default .layout:not(:first-of-type) section{
          @apply mb-[60px] md:mb-20;
        }

        .commerce-product--default .layout__region--second .field--name-price .field--item{
          @apply mb-5 !font-semibold !text-3xl md:!text-4xl;
        }
        .commerce-product--default .layout__region--second .field--name-price .field--label{
          @apply !hidden;
        }
        
        .view-slider-produktow .views-field-view-commerce-product .field-content a{
          @apply w-full h-full block;
        }

        .path-frontpage h2{
          @apply text-xl md:text-2xl font-semibold;
        }
        .path-frontpage hr{
          @apply !w-full border-gray-300 mb-6 md:mb-[50px];
        }
        .path-frontpage .page > .content > .field--name-body > h2 ~ p.has-text-align-center{
          @apply max-w-xl mx-auto mb-6 md:mb-[50px];
        }
        .path-frontpage .page > .content > .field--name-body > h2{
          @apply max-w-md mx-auto mb-4 md:mb-[30px];
        }
        
        .path-frontpage .text-default h1,
        .path-frontpage .text-default h2,
        .path-frontpage .text-default h3,
        .path-frontpage .text-default h4{
            @apply mb-4 md:mb-7;
        }
        .path-frontpage .text-default h1{
            @apply text-2xl md:text-3xl font-semibold;
        }
        .path-frontpage .text-default h2{
            @apply text-xl md:text-2xl font-semibold;
        }
        .path-frontpage .text-default h3{
            @apply text-lg md:text-xl font-semibold;
        }
        .path-frontpage .text-default h4{
            @apply text-sm md:text-base font-semibold;
        }
        .path-frontpage .text-default p{
            @apply text-sm mb-6 md:mb-[50px];
        }

        .view-baner .swiper-container{
          @apply my-0;
        }
        .view-footer a{
          @apply px-4 py-2 border border-gray-500 text-gray-500 hover:bg-[#333] hover:text-white transition duration-200;
        }

        .pictures-grid .wp-block-columns,
        .pictures-grid .wp-block-column,
        .pictures-grid .wp-block-image
        {
          @apply m-0;
        }

        .cta-upload {
          @apply bg-gray-10 py-2 px-14 md:px-24 mb-10 md:mb-20;
        }
        .cta-upload h2{
          @apply mb-4 md:mb-[30px] text-[#333];
        }
        .cta-upload p{
          @apply mb-6 md:mb-[50px] text-[#333];
        }
        .cta-upload .wp-block-button__link{
          @apply rounded-none mb-6 md:mb-[50px] bg-[#333] border border-[#333] hover:bg-transparent text-white hover:text-[#333] transition duration-200;
        }
        .cta-upload > img.wp-block-cover__image-background{
          @apply !left-auto !w-auto !h-full;
        }

        .pictures-grid {
          @apply mb-6 md:mb-[50px] min-[600px]:gap-4;
        }
        
        ul.quicktabs-tabs{
          @apply text-center space-x-4 mb-6 md:mb-[50px];
        }
        ul.quicktabs-tabs li{
          @apply relative font-semibold text-gray-500;
        }
        ul.quicktabs-tabs li.active{
          @apply after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:w-full after:h-0.5 after:bg-gray-500;
        }

        .img-fit{
          @apply w-full h-full overflow-hidden;
        }
        .img-fit img{
          @apply w-full h-full object-cover;
        }
        .img-fit-contain img{
          @apply w-full h-full object-contain;
        }

        .category-header{
          @apply relative flex flex-col justify-end p-5 md:p-10 lg:px-20 lg:py-[60px] text-white md:min-h-[300px] mb-3;
        }

        .layout-content-region--filters{
          @apply flex flex-wrap;
        }

        .layout-content-region--sort .form-item-sort-bef-combine label{
          @apply hidden;
        }
        .layout-content-region--sort .form-item-sort-bef-combine .select-wrapper {
          @apply !w-auto ;
        }
        .layout-content-region--sort .form-item-sort-bef-combine select {
          @apply border-0 bg-[#F9F8F9] rounded-full px-3 h-8 font-normal text-black ;
        }

        {# Static page #}

        .page-node-type-page:not(.path-frontpage) .page{
          @apply md:w-3/4 lg:w-2/3;
        }
        
        .page-node-type-page:not(.path-frontpage) .page h1,
        .page-node-type-page:not(.path-frontpage) .page h2,
        .page-node-type-page:not(.path-frontpage) .page h3,
        .page-node-type-page:not(.path-frontpage) .page h4,
        .page-node-type-page:not(.path-frontpage) .page h5,
        .page-node-type-page:not(.path-frontpage) .page h6{
          @apply text-[#333] mb-5;
        }
        
        .page-node-type-page:not(.path-frontpage) .page h1{
            @apply text-5xl lg:text-8xl font-semibold;
        }
        .page-node-type-page:not(.path-frontpage) .page h2{
            @apply text-4xl md:text-5xl lg:text-6xl font-semibold;
        }
        .page-node-type-page:not(.path-frontpage) .page h3{
            @apply text-3xl md:text-4xl lg:text-5xl font-semibold;
        }
        .page-node-type-page:not(.path-frontpage) .page h4{
            @apply text-2xl md:text-3xl lg:text-4xl font-semibold lg:font-medium;
        }
        .page-node-type-page:not(.path-frontpage) .page h5{
            @apply text-lg md:text-xl lg:text-3xl;
        }
        .page-node-type-page:not(.path-frontpage) .page h6{
            @apply text-xl font-semibold;
        }
        .page-node-type-page:not(.path-frontpage) .page p{
            @apply text-base lg:text-lg mb-6 md:mb-[50px];
        }

        .page-node-type-page:not(.path-frontpage) .page p{
          @apply text-base text-[#333] font-normal mb-5;
        }

        .page-node-type-page:not(.path-frontpage) .page ul{
          @apply list-disc ml-4 mb-5;
        }
        .page-node-type-page:not(.path-frontpage) .page ol{
          @apply list-decimal ml-4 mb-5;
        }
        .page-node-type-page:not(.path-frontpage) .page ol li,
        .page-node-type-page:not(.path-frontpage) .page ul li{
          @apply mb-3;
        }
        .page-node-type-page:not(.path-frontpage) .page table{
          @apply bg-gray-10 rounded-md overflow-hidden;
        }
        .page-node-type-page:not(.path-frontpage) .page td,
        .page-node-type-page:not(.path-frontpage) .page th{
          @apply border !border-white p-2;
        }
        .page-node-type-page:not(.path-frontpage) .page img{
          @apply !w-full mb-5;
        }
        .page-node-type-page:not(.path-frontpage) .page kbd{
          @apply px-2 rounded-md bg-gray-100;
        }
        .page-node-type-page:not(.path-frontpage) .page .wp-block-pullquote{
          @apply border-0 p-0 !bg-gray-10 rounded-md overflow-hidden;
        }
        .page-node-type-page:not(.path-frontpage) .page blockquote{
          @apply border-primary-40;
        }
        .page-node-type-page:not(.path-frontpage) .wp-block-embed.is-provider-youtube iframe,
        .page-node-type-page:not(.path-frontpage) video{
          @apply w-full aspect-[16/9] h-auto !max-w-[800px];
        }
        .page-node-type-page:not(.path-frontpage) .wp-block-file__button{
          @apply rounded-full !text-base md:!text-lg !bg-primary-100 hover:!bg-primary-80 transition duration-200 !px-7 !py-3;
        }
        .page-node-type-page:not(.path-frontpage) a:not(.wp-block-file__button){
          @apply text-primary-100 hover:text-primary-80 transition;
        }
        .page-node-type-page:not(.path-frontpage) input[type="text"],
        .page-node-type-page:not(.path-frontpage) input[type="password"],
        .page-node-type-page:not(.path-frontpage) input[type="url"],
        .page-node-type-page:not(.path-frontpage) input[type="email"],
        .page-node-type-page:not(.path-frontpage) input[type="tel"],
        .page-node-type-page:not(.path-frontpage) input[type="search"],
        .page-node-type-page:not(.path-frontpage) input[type="number"]
        {
          @apply bg-white px-5 py-2.5 text-base rounded-full border border-gray-40 hover:border-gray-60 focus:border-primary-40 focus:outline-0 transition duration-200 invalid:border-red-60;
        }

        .page-node-type-page:not(.path-frontpage) select{
          @apply !bg-gray-10 !px-7 !py-3 !text-base duration-200 hover:!bg-primary-100 hover:text-white md:!text-lg relative rounded-full transition;
        }

        
        

        .views-field-purchased-entity .field--label,
        .views-field-purchased-entity .field--item{
          @apply inline-block;
        }

        .cart-form [data-drupal-selector="edit-coupon-redemption"]{
          @apply w-full md:w-[500px] md:ml-[calc(100%_-_500px)] !mb-0 bg-[#F5F4F5] px-5 order-4;
        }

        .cart-form [data-drupal-selector="edit-actions"]{
          @apply w-full md:w-[500px] md:ml-[calc(100%_-_500px)] !mb-0 bg-[#F5F4F5] p-5 order-5;
        }

        .cart-form [data-drupal-selector="edit-submit"]{
          @apply hidden;
        }

        .cart-form [data-drupal-selector="edit-coupon-redemption"]{
          @apply relative;
        }

        .cart-form [data-drupal-selector="edit-coupon-redemption-apply"]{
          @apply absolute right-5 bottom-[15px] w-auto h-12 rounded-l-none;
        }

        .cart-form .order-total-line__total{
          @apply text-xl md:text-2xl pt-5 mt-5 border-t-2 border-t-[#D7D3D7]/20;
        }

        .cart-form .order-total-line{
          @apply flex justify-between;
        }

        .coupon-redemption-form__coupons table{
          @apply w-full;
        }

        .coupon-redemption-form__coupons tr{
          @apply flex justify-between items-center text-lg md:text-xl font-semibold;
        }


      }
    </style>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
