{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
{% set first_region_classes = ['layout__region', 'layout__region--first'] %}
{% set second_region_classes = ['layout__region', 'layout__region--second'] %}

{% if attributes.hasClass('layout--twocol-section--67-33') %}
  {% set first_region_classes = first_region_classes|merge(['!basis-full md:!basis-2/3 md:pr-10']) %}
  {% set second_region_classes = second_region_classes|merge(['!basis-full md:!basis-1/3']) %}
{% endif %}

  <div{{ attributes }}>

    {% if content.first %}
      <div {% if '/product/' in path('<current>') %} id="product-description" {% endif %} {{ region_attributes.first.addClass(first_region_classes) }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass(second_region_classes) }}>
        {{ content.second }}
      </div>
    {% endif %}

  </div>
{% endif %}
